.changeset
.github
.husky

packages/eslint-config

*.config.js
*.config.json
*.config.ts
*.config.cjs
*.config.mjs

**/dist

**/.turbo

**/tsconfig.json

**/pnpm-lock.yaml

**/.eslintrc.js

**/package.json
